/*spaceing between sections/boxes*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*backgorund color and text size of body white and 16px*/
body {
    background-color: #d9dcd6;
    font-size: 16px;
}
/*set top of page links top right to color white with blue background . search engine/onlinerep/socialmedia*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    
}
/*set size of Horiseon tag in top left to 48px*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/*color of SEO in Horiseon in top left*/
.seo {
    color: #d9dcd6;
}
/*Top right font sizing and padding set*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
}
/*?*/
.header nav ul {
    list-style-type: none;
}

/*puts the headers "search eng/online/social" inline and to the right of screen*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    /*color of the links at top of page*/
    color: #ffffff;
    text-decoration: none;
}
/*main image with people at meeting*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
   /*background-image: url("../images/digital-marketing-meeting.jpg"); removed old image here and added it to html so i can have a alt image*/
    background-size: cover;
    background-position: center;
}
/* makes Search engine jpg and social media marketing jpg float left*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*makes online rep management jpg float right*/
.float-right {
    float: right;
    margin-left: 25px;
}
/*size and properties of class content*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*colors and padding for bottom left section "search engine OP/Online rep. manage etc*/
.details {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*size for all images in class content ex: seatch engine opt jpg*/
.details img {
    max-height: 200px;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*bottom right section of page details ex. Lead Generation / breand awareness*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*bottom right images ex. lead-generation png*/
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

h3{
    margin-bottom: 10px;
    text-align: center;
}
/*bottom right images ex. lead-generation png*/
.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h4 {
    font-size: 20px;
}
